{% extends 'base.html' %}
{% block content %}
<div class="uk-card uk-card-default uk-grid-collapse  uk-margin-left uk-margin-top" uk-grid>
    <div class="uk-cover-container">
        <img class="uk-margin-left uk-margin-top" src="{{object.image}}" alt="product-image" >
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{object.title}}</h3>
            {% for price in prices %}
            <div>{{price.price}} <a href="{{price.link}}">{{price.seller}}</a></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}