{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Buildr</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/uikit.min.css' %}">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.js' %}"></script>
    <script>window.onbeforeunload = function () {
        window.scrollTo(0, 0);
      }</script>
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left"><a class="uk-navbar-item uk-logo" href="/"><img width='30px' height='24px' src="{% static 'images/icon.png' %}"></img></a></div>
        <div class="uk-navbar-center uk-visible@s">
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-item {% if request.path == '/' %}uk-active{% endif %}"><a href="/"><span uk-margin-small-right uk-icon="icon: home"></span>Home</a></li>
                <li class="uk-navbar-item {% if request.path == '/build/' %}uk-active{% endif %}"><a href="/build"><span uk-margin-small-right uk-icon="icon: desktop"></span>Build</a></li>
            </ul>
        </div>
    </nav>

{% block content %}
{% endblock %}        
</body>
</html>