{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<style>
.js-data-example-single{
  width: 70%
}
</style>
<script>
    $(document).ready(function() {
      $(".js-data-example-single").select2();
      $("#cpu-select").change( function() {
      var cpu = $(this).val();
      var mobo = $('#mobo-select').val();
      $.getJSON('ajax/compatible', {'cpu':cpu,'mobo':mobo},function(data) {
            if(data.notCompatible)
            {
              $.ajax({
                url: "ajax/get/mobos",
                data: {
                  'cpu': cpu
                },
                success: function (data) {
                    $("#mobo-select").html(data);
                }
              });
            }
        });
      $.ajax({
              url: "ajax/get/rams",
              data: {
                'cpu': cpu
              },
              success: function (data) {
                  $("#ram-select").html(data);
              }
            });
      });
    $("#mobo-select").change( function() {
      var mobo = $(this).val();
      var cpu = $('#cpu-select').val();
      var notCompatible;
      $.getJSON('ajax/compatible', {'cpu':cpu,'mobo':mobo},function(data) {
                if(data.notCompatible)
                {
                    $.ajax({
                    url: "ajax/get/cpus",
                    data: {
                    'mobo': mobo
                    },
                    success: function (data) {
                      $("#cpu-select").html(data);
                    }
                    });
                }
            });
      });
});
</script>
<form class="uk-form-stacked uk-text-center uk-position-center" style="width:75%">
    <div class="uk-margin">
        <label class="uk-form-label" for="cpu-select"><h2>Processor</h2></h2></label>
            <div class="uk-form-controls">
                <select class="js-data-example-single" id="cpu-select">
                  <option selected disabled value="0">Select a processor</option>
                  {% for cpu in cpus %}
                  <option value={{cpu.id}} price={{cpu.min_price}}>{{cpu.title|truncatewords:10}} (Rs {{cpu.min_price}})</option>
                  {% endfor %}
                </select>
            </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="mobo-select"><h2>Motherboard</h2></label>
            <div class="uk-form-controls">
                <select class="js-data-example-single" id="mobo-select">
                  <option selected disabled value="0">Select a motherboard</option>
                  {% for mobo in mobos %}
                  <option value={{mobo.id}} price={{mobo.min_price}}>{{mobo.title|truncatewords:10}} (Rs {{mobo.min_price}})</option>
                  {% endfor %}
                </select>
            </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="ram-select"><h2>Ram</h2></label>
            <div class="uk-form-controls">
                <select class="js-data-example-single" id="ram-select">
                </select>
            </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="gpu-select"><h2>Graphics Card</h2></label>
            <div class="uk-form-controls">
                <select class="js-data-example-single" id="gpu-select"">
                    <option selected disabled value="0">Select a graphics card</option>
                    {% for gpu in gpus %}
                    <option value={{gpu.id}} price={{ram.min_price}}>{{gpu.title|truncatewords:8}} (Rs {{gpu.min_price}})</option>
                    {% endfor %}
                </select>
            </div>
    </div>
</form>
{% endblock %}