{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $(".js-data-example-single").select2();
    $("#product-search").change(function () {
        location=this.value;
    });
    $(document).on('input change', '#pricerange', function() {
        $('#limit').html( $(this).val());
        $.ajax({
            url:'',
            data : {
                'budget':$(this).val(),
                'sort':$("#sortselect").val()
            },
            success: function(data){
                $("#products").html(data);
            }
        });
    });
    $("#sortselect").change(function () {
        $.ajax({
            url:'',
            data : {
                'budget':$("#pricerange").val(),
                'sort':$(this).val()
            },
            success: function(data){
                $("#products").html(data);
            }
        });
    });


    
});
</script>
<div><img src="{% static 'images/banner.png'%}" style="width: 100%; height: 500px; object-fit: contain;"></img></div>
<nav class="uk-navbar-container uk-navbar-transparent " uk-navbar>
    <div class="uk-navbar-center uk-visible@s uk-margin-bottom uk-margin-top">
        <select class="js-data-example-single" id="product-search" >
                <option selected disabled value="0">Search products</option>
                {% for product in all_products %}
                <option value="product/{{product.category|lower}}/{{product.id}}">{{product.title}}</option>
                {% endfor %}
        </select>
    </div>
</nav>
<nav class="uk-navbar-container uk-navbar-transparent " uk-navbar>
    <div class="uk-navbar-center uk-visible@s">
        <div>
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-item {% if request.path == '/products/rams' %}uk-active{% endif %}"><a href="/products/ram">RAMS</a></li>
                <li class="uk-navbar-item {% if request.path == '/products/cpu' %}uk-active{% endif %}"><a href="/products/cpu">PROCESSORS</a></li>
                <li class="uk-navbar-item {% if request.path == '/' %}uk-active{% endif %}"><a href="/">ALL</a></li>
                <li class="uk-navbar-item {% if request.path == '/products/gpu' %}uk-active{% endif %}"><a href="/products/gpu">GRAPHIC CARDS</a></li>
                <li class="uk-navbar-item {% if request.path == '/products/mobo' %}uk-active{% endif %}"><a href="/products/mobo">MOTHERBOARDS</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <form class="uk-navbar-center">
            <select name="sort" class="uk-select" id="sortselect">
                <option disabled value="0">Sort by</option>
                <option value="1">Price - ASC</option>
                <option value="2">Price - DESC</option>
                <option value="3">Title - ASC</option>
                <option value="4">Title - DESC</option>
            </select>
    </form>
    <div class="uk-navbar-left uk-margin-left"><h4 id="limit" style="display:inline-block"></h4><input name="budget" class="uk-range" type="range" value="100" min={{minprice}} max={{maxprice}} step="10000" id="pricerange"></div>
</nav>
<!-- Thank god https://stackoverflow.com/a/22466415 for the perfect solution to iterating over the list and creating only 4 items -->
<div id="products">
{% for product in all_products %}
{% if forloop.first %}<div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-margin-left uk-margin-right uk-margin-top" uk-grid>{% endif %}
    <div>
        <a href="/product/{{product.category|lower}}/{{product.id}}/" class="uk-link-muted"><div class="uk-card uk-card-hover uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
            <div class="uk-card-header" style="width:auto;height:7em">
                <img style="object-fit:contain; width: inherit; height: inherit;" src="{{product.image}}">
            </div>
            <div class="uk-card-body">
                <p>{{product.title|truncatechars:40 }}</p>
            </div>
            <div class="uk-card-footer">
                <p class="uk-text-meta uk-align-center" >Lowest price</p>
                <h2>{{product.min_price}}</h2>
            </div>
        </div></a>
     </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-margin-left uk-margin-right uk-margin-top" uk-grid>{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
{% endblock %}
