{% extends 'base.html' %}
{% block content %}
<nav class="uk-navbar-container uk-navbar-transparent " uk-navbar>   
    <div class="uk-navbar-center uk-visible@s">
        <div>
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-item {% if request.path == '/products/rams' %}uk-active{% endif %}"><a href="/products/ram">RAMS</a></li>
                <li class="uk-navbar-item {% if request.path == '/products/cpu' %}uk-active{% endif %}"><a href="/products/cpu">PROCESSORS</a></li>
                <li class="uk-navbar-item {% if request.path == '/' %}uk-active{% endif %}"><a href="/">ALL</a></li>
                <li class="uk-navbar-item {% if request.path == '/products/gpu' %}uk-active{% endif %}"><a href="/products/gpu">GRAPHIC CARDS</a></li>
                <li class="uk-navbar-item {% if request.path == '/products/mobo' %}uk-active{% endif %}"><a href="/products/mobo">MOTHERBOARDS</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
<!-- Thank god https://stackoverflow.com/a/22466415 for the perfect solution to iterating over the list and creating only 4 items -->
{% for product in all_products %}
{% if forloop.first %}<div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-margin-left uk-margin-right uk-margin-top" uk-grid>{% endif %}
    <div>
        <div class="uk-card uk-card-hover uk-card-default uk-card-body">
            <div class="uk-card-header" style="width:auto;height:7em">
                <img style="object-fit:contain; width: inherit; height: inherit;" src="{{product.image}}">
            </div>
            <div class="uk-card-body">
                <p>{{product.title|truncatewords:5 }}</p>
            </div>
            <div class="uk-card-footer">
                <h2>{{product.min_price}}</h2>
            </div>
        </div>
     </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-margin-left uk-margin-right uk-margin-top" uk-grid>{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endblock %}
